@import "tailwindcss";

html,
body {
  height: 100%;
  background-color: #f9fafb; /* gray-50 - leveza */
  color: #1f2937; /* gray-800 - contraste */
  scroll-behavior: smooth;
  @apply antialiased;
}
